main.syntex.gz
main.fdb_latexmk
main.fls
main.log
main.aux
results
model.pt
results/
results_trained/
results_grid_test
__pycache__/
figures/
graphs/
figures.zip
results.zip
performance.png
__pycache__/utils.cpython-39.pyc
gnn_proj.pptx
